In [11]:
import pandas as pd
import numpy as np
import glob
pd.set_option('display.max_columns', 50)

In [12]:
fn = glob.glob('./results/performances/result-*.csv')
dfs = {}

In [8]:
fn

['./results/performances/result-1599105544-badge_DATE-5.csv',
 './results/performances/result-1599105615-DATE-5.csv',
 './results/performances/result-1599106283-badge_DATE-5.csv']

In [9]:
for name in fn:
    dfs[name] = pd.read_csv(name, sep=' ')

In [10]:
for name in fn:
    print(name, dfs[name]['mode'].unique()[0], round(np.mean(dfs[name]['precision']), 4), round(np.mean(dfs[name]['recall']), 4), round(np.mean(dfs[name]['revenue']), 4))

./results/performances/result-1599105544-badge_DATE-5.csv scratch 0.0674 0.0644 0.0593
./results/performances/result-1599105615-DATE-5.csv scratch 0.0982 0.0943 0.1238
./results/performances/result-1599106283-badge_DATE-5.csv scratch 0.1414 0.1884 0.2897

In [12]:
df = pd.read_csv(fn[-1], sep=' ')

In [13]:
df.columns

Index(['num_train', 'num_test', 'num_select', 'num_total_newly_labeled',
       'num_test_illicit', 'test_illicit_rate', 'upper_bound_recall',
       'upper_bound_rev', 'sampling', 'percentage', 'mode', 'subsamplings',
       'weights', 'unc_mode', 'train_start', 'valid_start', 'test_start',
       'test_end', 'numWeek', 'precision', 'recall', 'revenue'],
      dtype='object')

In [14]:
df

,num_train,num_test,num_select,num_total_newly_labeled,num_test_illicit,test_illicit_rate,upper_bound_recall,upper_bound_rev,sampling,percentage,mode,subsamplings,weights,unc_mode,train_start,valid_start,test_start,test_end,numWeek,precision,recall,revenue
0,16274,11441,572,572,479.0,0.041867,1,1.0,badge_DATE,5,scratch,-,-,naive,16-01-05,16-01-21,16-02-05,16-02-20,1,0.1346,0.1608,0.0918
1,29388,11674,583,1155,406.0,0.034778,1,1.0,badge_DATE,5,scratch,-,-,naive,16-01-05,16-02-05,16-02-20,16-03-06,2,0.1578,0.2266,0.4361
2,29960,10871,543,1698,447.0,0.041119,1,1.0,badge_DATE,5,scratch,-,-,naive,16-01-05,16-02-20,16-03-06,16-03-21,3,0.1860,0.2260,0.2879
3,30543,12480,624,2322,368.0,0.029487,1,1.0,badge_DATE,5,scratch,-,-,naive,16-01-05,16-03-06,16-03-21,16-04-05,4,0.1506,0.2554,0.4016
4,31086,12309,615,2937,382.0,0.031034,1,1.0,badge_DATE,5,scratch,-,-,naive,16-01-05,16-03-21,16-04-05,16-04-20,5,0.0927,0.1492,0.1138
5,31710,13740,687,3624,513.0,0.037336,1,1.0,badge_DATE,5,scratch,-,-,naive,16-01-05,16-04-05,16-04-20,16-05-05,6,0.1499,0.2008,0.4427
6,32325,13402,670,4294,516.0,0.038502,1,1.0,badge_DATE,5,scratch,-,-,naive,16-01-05,16-04-20,16-05-05,16-05-20,7,0.1358,0.1764,0.2119
7,33012,14198,709,5003,582.0,0.040992,1,1.0,badge_DATE,5,scratch,-,-,naive,16-01-05,16-05-05,16-05-20,16-06-04,8,0.1354,0.1649,0.4226
8,33682,13537,676,5679,570.0,0.042107,1,1.0,badge_DATE,5,scratch,-,-,naive,16-01-05,16-05-20,16-06-04,16-06-19,9,0.1568,0.1860,0.2813
9,34391,13270,663,6342,553.0,0.041673,1,1.0,badge_DATE,5,scratch,-,-,naive,16-01-05,16-06-04,16-06-19,16-07-04,10,0.1146,0.1374,0.2075

In [15]:
np.mean(df['precision']), np.mean(df['recall']), np.mean(df['revenue'])

(0.14142000000000002, 0.18835, 0.28972)