In [1]:
import pandas as pd
import numpy as np
import glob
pd.set_option('display.max_columns', 50)

In [2]:
fn = glob.glob('result-*.csv')
dfs = {}

In [3]:
fn

['result-1598861514-badge_DATE-5.csv',
 'result-1598861514-badge-5.csv',
 'result-1598939650-random-5.csv',
 'result-1598941070-diversity-5.csv',
 'result-1598941375-DATE-5.csv',
 'result-1598942457-hybrid-5.csv',
 'result-1598944899-badge_DATE-5.csv',
 'result-1598945016-DATE-5.csv',
 'result-1598945040-hybrid-5.csv',
 'result-1598945058-random-5.csv',
 'result-1598957365-hybrid-5.csv',
 'result-1598957650-hybrid-5.csv',
 'result-1599004118-random-5.csv',
 'result-1599007324-random-5.csv',
 'result-1599009358-DATE-5.csv',
 'result-1599009468-hybrid-5.csv',
 'result-1599021226-random-5.csv',
 'result-1599060070-random-5.csv',
 'result-1599060261-hybrid-5.csv',
 'result-1599060358-DATE-5.csv']

In [4]:
for name in fn:
    dfs[name] = pd.read_csv(name, sep=' ')

In [5]:
for name in fn:
    print(name, dfs[name]['mode'].unique()[0], round(np.mean(dfs[name]['precision']), 4), round(np.mean(dfs[name]['recall']), 4), round(np.mean(dfs[name]['revenue']), 4))

result-1598861514-badge_DATE-5.csv finetune 0.0355 0.0474 0.0432
result-1598861514-badge-5.csv finetune 0.0318 0.0494 0.0562
result-1598939650-random-5.csv finetune 0.0341 0.0531 0.0547
result-1598941070-diversity-5.csv finetune 0.0351 0.0472 0.0555
result-1598941375-DATE-5.csv finetune 0.0343 0.0532 0.059
result-1598942457-hybrid-5.csv finetune 0.0404 0.0431 0.0428
result-1598944899-badge_DATE-5.csv scratch 0.0336 0.0525 0.0811
result-1598945016-DATE-5.csv scratch 0.0342 0.0536 0.0595
result-1598945040-hybrid-5.csv scratch 0.0334 0.0514 0.0733
result-1598945058-random-5.csv scratch 0.0347 0.0544 0.0603
result-1598957365-hybrid-5.csv finetune 0.0414 0.053 0.0693
result-1598957650-hybrid-5.csv scratch 0.0443 0.0566 0.1186
result-1599004118-random-5.csv scratch 0.0382 0.0518 0.055
result-1599007324-random-5.csv scratch 0.0356 0.0552 0.0487
result-1599009358-DATE-5.csv scratch 0.0328 0.0519 0.0696
result-1599009468-hybrid-5.csv scratch 0.0335 0.052 0.0758
result-1599021226-random-5.csv finetune 0.0333 0.0528 0.0574
result-1599060070-random-5.csv scratch 0.0422 0.0513 0.0524
result-1599060261-hybrid-5.csv scratch 0.0619 0.0596 0.0228
result-1599060358-DATE-5.csv scratch 0.1295 0.1238 0.0098

In [10]:
df = pd.read_csv(fn[-2], sep=' ')

In [11]:
df.columns

Index(['num_train', 'num_test', 'num_select', 'num_total_newly_labeled',
       'num_test_illicit', 'test_illicit_rate', 'upper_bound_recall',
       'upper_bound_rev', 'sampling', 'percentage', 'mode', 'subsamplings',
       'weights', 'unc_mode', 'train_start', 'valid_start', 'test_start',
       'test_end', 'numWeek', 'precision', 'recall', 'revenue'],
      dtype='object')

In [12]:
df

,num_train,num_test,num_select,num_total_newly_labeled,num_test_illicit,test_illicit_rate,upper_bound_recall,upper_bound_rev,sampling,percentage,mode,subsamplings,weights,unc_mode,train_start,valid_start,test_start,test_end,numWeek,precision,recall,revenue
0,5691,3876,193,193,202.0,0.052116,0.959406,1.0,hybrid,5,scratch,-,-,naive,16-01-05,16-01-09,16-01-12,16-01-15,1,0.0881,0.0842,0.0208
1,7242,1124,56,249,57.0,0.050712,0.985965,1.0,hybrid,5,scratch,-,-,naive,16-01-05,16-01-12,16-01-15,16-01-18,2,0.0357,0.0351,0.0249

In [13]:
np.mean(df['precision']), np.mean(df['recall']), np.mean(df['revenue'])

(0.0619, 0.059649999999999995, 0.02285)